body {
    background-color: f8f8f8;
}

.googleCalendar{
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 70%;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
