<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>
        {{- if not .IsHome }}
        {{- if eq .Kind "page" }}{{ .Title }}
        {{- else if eq .Data.Singular "tag" }}{{ .Data.Term }}
        {{- else }}{{ .Title }}
        {{- end }} - {{ end }}
        {{- .Site.Title -}}
    </title>
    <!-- Meta -->
    <!-- Primary Meta Tags -->
    <meta name="title" content="Koor Cantilene Merelbeke">

    {{- if eq .Kind "page" }}
    <meta name="description" content="{{ .Summary }}">
    <meta name="author" content="{{ .Params.author | default .Site.Params.author }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    {{ end -}}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://koorcantilene.be/">
    <meta property="og:title" content="Koor Cantilene Merelbeke">
    <meta property="og:description" content="Een 4-stemmig vriendenkoor. Ook eens proberen? Contacteer ons!">
    <meta property="og:image" content="https://koorcantilene.be//images/koorlogo.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://koorcantilene.be/">
    <meta property="twitter:title" content="Koor Cantilene Merelbeke">
    <meta property="twitter:description" content="Een 4-stemmig vriendenkoor. Ook eens proberen? Contacteer ons!">
    <meta property="twitter:image" content="https://koorcantilene.be//images/koorlogo.jpg">
    <!-- Styles -->
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ " apple-touch-icon.png" | absURL }}">
    <link rel="icon" href="/favicon.ico">
    <!-- Generator -->
    {{ hugo.Generator }}
    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" href="{{ " index.xml" | absURL }}" title="{{ .Site.Title }}">
    <!-- Misc -->
    <!-- Matomo -->
    <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://analytics.navisence.be/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>
    <div class="uk-container uk-container-expand">
        <div uk-sticky>
            <nav class="uk-navbar-container" data-uk-navbar>
                <div class="uk-navbar-left">
                    <a href="/"><img src="/images/koorlogo_40.jpg"></a>
                </div>
                <div class="uk-navbar-right uk-visible@m">
                    <ul class="uk-navbar-nav">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        <li class="{{ if $currentPage.IsMenuCurrent " main" . }}uk-active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <button class="uk-button uk-button-text uk-hidden@m uk-position-right" type="button"
                    data-uk-toggle="target: #offcanvas-nav">
                    <span class="uk-margin-small-right uk-icon" data-uk-icon="icon: menu; ratio: 2"></span>
                </button>
            </nav>
        </div>
    </div>
    <div id="offcanvas-nav" data-uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="{{ if $currentPage.IsMenuCurrent " main" . }}uk-active{{ end }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ if isset .Params "background" }}
    <div class="uk-background-cover" style="background-image: url({{ .Params.background }});">
        {{ else }}
        <div class="uk-background-cover" style="background-image: url(/backgrounds/notenbalk.jpg);">
            {{ end }}
            {{ block "main" . }}
            <!-- Replace this in your layout -->
            {{ end }}
            <footer class="uk-clear-fix">
                <div class="uk-text-center uk-padding-small">&copy; {{ dateFormat "2006" now }} Koor Cantilene Merelbeke -
                    <a href="mailto:koorcantilene@gmail.com" uk-icon="icon: mail"></a>
                    <a href="https://www.facebook.com/koorcantilene" uk-icon="icon: facebook"></a>
                    <a href="https://koorcantilene.be" uk-icon="icon: link"></a>
                    <a href="https://koorcantilene.be/index.xml" uk-icon="icon: rss"></a>
                    <a href="https://gitlab.com/cantilene/website" uk-icon="icon: git-fork"></a>
                </div>
            </footer>
        </div>
</body>

</html>
