{{ define "main" }}
<div class="uk-container uk-container-expand">
    <div class="uk-container uk-padding">
        <div class="uk-child-width-expand@m" uk-grid>
            <div>
                {{ .Content }}
            </div>
            {{ with .Params.side_image }}
            <div class="uk-visible@m">
                {{ range . }}
                <figure class="uk-align-right">
                    <img src="{{ . }}">
                </figure>
                {{ end }}
            </div>            
            {{ end }}
        </div>
    </div>
</div>
{{ end }}

