{{ define "main" }}
<div class="uk-container uk-padding">
    <div>
        {{ .Content }}
        <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
        {{ range .Pages.ByDate.Reverse }}
            <a href="{{ .RelPermalink }}">
            <div class="uk-card uk-card-default uk-card-hover">
                <div class="uk-card-body">
                    <h2 class="uk-card-title uk-text-center">{{ .Title }}</h2>
                </div>
                <div class="uk-card-media-bottom">
                {{- with .Resources.ByType "image" -}}
                {{- range first 1 . -}}
                <img
                    {{ $thumbnail := .Fill "400x400" }}
                    {{- with $thumbnail -}}
                    src="{{ .RelPermalink }}"
                    class="uk-align-center"
                    {{- end -}}
                    />
                {{- end -}}
                {{- end -}}
                </div>
            </div>
            </a>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}
