{{ define "main" }}
<div class="uk-container uk-container-expand">
    <div class="uk-container uk-padding">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ with .Resources.ByType "video" }}
        <div class="uk-child-width-1-3@s uk-flex uk-flex-center" uk-grid>
            {{ range . }}
            <video width="30%" controls>
                <source src="{{ .RelPermalink }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {{ end }}
        </div>
        {{ end }}
        {{ with .Resources.ByType "image" }}
        <div class="uk-child-width-1-5@s uk-flex uk-flex-center" uk-grid uk-lightbox="animation: fade">
          {{ range . }}
          <a class="uk-inline" data-caption="{{ .Title }}" href="{{ .RelPermalink }}"><img
              {{ $thumbnail := .Fill "200x200" }}
              {{ with $thumbnail }}
              src='{{ .RelPermalink }}'
              {{ end }}
              />
          </a>
          {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
