<form name="contact" method="POST" data-netlify="true" class="uk-form-stacked">
    <div class="uk-margin">
        <label class="uk-form-label" for="naam">Naam</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="naam" name="naam" type="text" placeholder="Uw naam">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="email">E-mail</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="email" name="email" type="text" placeholder="Uw e-mail adres">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="message">Vraag</label>
        <div class="uk-form-controls">
            <textarea class="uk-textarea" rows="5" id="message" name="message" placeholder="Uw vraag"></textarea>
        </div>
    </div>
    <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-default">Verzenden</button>
    </div>
</form>